// Заголовки, загальні БЕМ блоки та інше...
.title {
   font-weight: 700;
   font-size: rem(54);
   line-height: 133.333333%; /* 72/54 */
   color: var(--text-title);
}

.btn {
   font-weight: 700;
   font-size: rem(16);
   line-height: 131.25%; /* 21/16 */
   color: var(--bg-buttons-text);
   background-color: var(--bg-buttons);
   padding: rem(14) rem(24) rem(13) rem(23);
   box-shadow: 0 rem(6) rem(12) rgba(249, 192, 106, 0.22);
   border-radius: rem(24);
   transition: opacity 0.3s;
   &:hover {
      opacity: 0.85;
   }
}
