//====================================================================================================
.page {
   // .page__best-coffee
   &__best-coffee {
   }
}
//===============================================================================================
//==== start  =======================================================

//==== finish  =======================================================
//====================================================================================================
//==== start best-coffee =======================================================
.best-coffee {
   background: url('@img/best-coffee/coffee_blast.png') left 150% no-repeat;
   // transform: matrix(1, 0, 0, -1, 0, 0);
   // .best-coffee__container
   &__container {
   }
   // .best-coffee__inner
   &__inner {
   }
   // .best-coffee__row
   &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width:$tablet){
         flex-direction: column;
      }
   }
   // .best-coffee__content
   &__content {
      flex: 0 1 50%;
      // @media (max-width:$tablet){
      //    flex: 0 1 100%;
      // }
   }
   // .best-coffee__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(29);
      }
   }
   // .best-coffee__text
   &__text {
      font-size: rem(20);
      line-height: 170%; /* 34/20 */
      color: var(--text-primary);
   }
   // .best-coffee__btn
   &__btn {
   }
   // .best-coffee__image
   &__image {
      flex: 0 1 50%;
      padding-left: rem(95);
      position: relative;
      z-index: 2;
      transition: all 0.5s;
      width: rem(500);
      height: rem(484);
      img {
         width: 100%;
         object-fit: cover;
      }
      @media (max-width: $tablet) {
         padding: 0;
      }
      &:hover {
         transform: scale(1.01)
      }      
   }
}

.block {
   // .block__content
   &__content {
      &:not(:last-child) {margin-bottom: rem(29);}
   }
   // .block__more
   &__more {
   }
}
//==== finish best-coffee =======================================================
//====================================================================================================
//==== start  =======================================================

//==== finish  =======================================================
//====================================================================================================
//==== start  =======================================================

//==== finish  =======================================================
//====================================================================================================
//==== start =======================================================

//==== finish  =======================================================
//====================================================================================================
//==== start =======================================================

//==== finish  =======================================================
//====================================================================================================
