//====================================================================================================

//====================================================================================================
.spollers {

   // .spollers__item

   &__item {
   }

   // .spollers__title

   &__title {
      font-family: 'Clicker Script', cursive;
      font-size: rem(54);
      margin-bottom: rem(40);
      font-weight: 700;
   }

   // .spollers__body

   &__body {
   }
}
.link {
}
